# Скопируйте этот файл в terraform.tfvars и заполните своими данными
# cp terraform.tfvars.example terraform.tfvars
#
# Инструкции по получению данных см. в SETUP.md
# Оценка стоимости см. в COST.md

yandex_token     = "your_oauth_token_here"      # Получить: https://oauth.yandex.ru/
yandex_cloud_id  = "your_cloud_id_here"         # В консоли: https://console.yandex.cloud/
yandex_folder_id = "your_folder_id_here"       # В консоли: https://console.yandex.cloud/
yandex_zone      = "ru-central1-a"             # Зона доступности (ru-central1-a/b/c)

# Параметры кластера (опционально)
cluster_version = "1.30"
node_count      = 2
node_cores      = 4
node_memory     = 8
node_disk_size  = 50

# Параметры приложения
yandex_api_key     = "your_yandex_api_key_here"
sip_user           = "your_sip_username_here"
sip_password       = "your_sip_password_here"
ami_user           = "goami"
ami_password       = "goamisecret123"
voice_agent_replicas = 2

